<div>
  <%= link_to t("godmin.actions.return_to_course"), course_path(@resource.course), class: "btn btn-default" %>
</div>
<br/>
<%= render partial: "breadcrumb" %>
<%= render template: "resource/show" %>



