<div id="sidebar">
<div id="outline">
</div>
</div>
<div id="page-container">
<div id="pf1" class="pf w0 h0" data-page-no="1"><div class="pc pc1 w0 h0"><img class="bi x0 y0 w1 h1" alt="" src="<%= image_path('pdf.png') %>" />
<div class="c x1 y1 w2 h2"><div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">KURS</div></div><div class="c x1 y3 w3 h4"><div class="t m0 x3 h5 y4 ff2 fs1 fc0 sc0 ls1 ws0">Certyfikat dla: </div><div class="t m0 x4 h6 y5 ff3 fs2 fc1 sc0 ls1 ws0"> <span class="user_name"><%= "#{@user.first_name} #{@user.last_name}" %><span> </div><div class="t m0 x5 h5 y6 ff2 fs1 fc0 sc0 ls1 ws0">Certyfikat ten potwierdza<span class="ff4">!</span></div><div class="t m0 x6 h7 y7 ff2 fs1 fc0 sc0 ls1 ws0">uko<span class="ff5">ń</span>czenie kursu</div></div><div class="c x7 y8 w4 h8"><div class="t m0 x8 h9 y9 ff6 fs3 fc0 sc0 ls2 ws0">DATA UKO<span class="ff7">Ń</span>CZENIA: <span class="date_completed"><%= Date.today %><span> </div><div class="t m0 x8 ha ya ff6 fs3 fc0 sc0 ls2 ws0">DATA URODZENIA: <span class="date_birth"><%= @user.birth_day %><span> </div></div><div class="c x9 yb w5 hb"><div class="t m0 xa hc yc ff8 fs4 fc2 sc0 ls3 ws0">POD<span class="_ _0"></span>PIS</div></div><div class="c xb yd w6 hd"><div class="t m0 xc h5 ye ff2 fs1 fc1 sc0 ls1 ws0"></div></div></div><div class="pi" data-data='{"ctm":[1.300000,0.000000,0.000000,1.300000,0.000000,0.000000]}'></div></div>
</div>
