
.container
  .row
    .col-md-6
      %h2
        %ul
          %li
            %span.pe-7s-unlock Rejestracja
          %li
            %span.pe-7s-unlock Płatność
          %li
            %span.pe-7s-unlock Kurs
          %li
            %span.pe-7s-lock Certyfikat

    .col-md-6
      -# @TODO
      .section{style: 'color: black'}
        = link_to Course.first.name, course_path(Course.first), class: 'btn btn-lg btn-fill'
